*{
    margin: 0; padding: 0;
}
.row{
    --bs-gutter-x: 0;
}
.title{
    /* background-image: url(img\ 1.png); */
    height: 480px;
}
.cards{
    row-gap: 10px;
    column-gap: 10px;
}
.heading{
    background-color: darkorange;
    height: 156px;
    border: 12px solid white;
}
.cr1{
    height: 160px;
}
.card1{
    background-color: darkgreen;
    border: 12px solid white;
    height: 160px;
}
.card2{
    background-color: rgb(238, 95, 207);
    border: 12px solid white;
    height: 160px;
}
.card3{
    background-color: rgb(238, 250, 67);
    border: 12px solid white;
    height: 160px;
}
