
#mi_logo{
    display: block;
    height: 45px;
    width: 45px;
    margin-right: 5px;
    float: left;
    border-radius: 50%;
}

.body{
    width: 50%;
    height: 88vh;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    transition: all 0.5s;
    transform: translateY(-0.4vmax);
    box-shadow: 0px 6px 15px rgba(53, 53, 53, 0.363);
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(142, 226, 235);
}

.btn{
    margin-top: 25px;
}

.socialImg{
    display: flex;
    height: 50px;
    width: 300px;
    margin: 0 auto;
}

