*{
    font-family: Poppins;
    box-sizing: border-box;
}

#container{
    width: 1366px;
    height: 973;
}

#redbar{
    width: 1366px;
    height: 80px;
    background-color: #ce0505;
}

#innerbar{
    height: 52px;
    width: 1163px;
    position: absolute;
    margin: 15 101 13 102;
    
}

#symbol{
    display: inline-block;
    width: 52px;
    height: 52px;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 33px;
    color: #eb2929 ;
    margin-left: 1%;
    text-align: center;
    font-weight: bold;
    margin-top: 0.9px;
}

#login{
    float: right;
    color: #ffffff;
    font-size: 16px;
    margin-top: 16.5px;
}

#button{
    background-color: #ce0505;
    border: 1px solid #ffffff;
    color: #ffffff;
    height: 46px;
    width: 181px;
    margin-top: -15px;
    font-size: 16px;
    
}

#maincontent{
    margin: 0 auto;
    width: 1163px;
    padding-left: 25px;
}

#heading{
    color: #192F60;
    font-size: 36px;
    width: 514px;
    height: 51px;
    margin-top: 37px;
    font: normal normal bold 36px/55px Poppins;
}

#filter{
    width: 260px;
    height: 682px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    float: left;
}

#innerfilter{
    margin-top: 17ox;
    margin-left: 27px;
}

#location{
    display: inline-block;
    border: 1px solid #8C96AB;
    width: 208px;
    height: 35px;
    border-radius: 3px;
    opacity: 1;
    text-align: center;
    justify-items: center;
    color: #8C96AB;
    margin-top: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cuisine{
    display: inline-block;
    width: 52px;
    height: 20px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    margin-top: 22px;
}
#cost2{
    display: inline-block;
    width: 89px;
    height: 20px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    margin-top: 26px;
}
#sort{
    display: inline-block;
    width: 37px;
    height: 25px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    margin-top: 29px;
}
/* remaining filter section space */

#rightsection{
    display: inline-block; vertical-align: top;
    width: 794px;
    height: 682px;
    margin-left: 45px;
}

#first-content{
    width: 794px;
    height: 291px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    margin-bottom: 34px;
}

#image-1{
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 17px;
    margin-top: 25px;
    float: left;
}

#item-1{
    display: inline-block;
    margin-left: 41px;
    margin-top: 39px;
}
 #p1{
    width: 303px;
    height: 43px;
    text-align: left;
    font: normal normal 600 30px/46px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    margin: 0;
 }
 #p2{
    width: 40px;
    height: 23px;
    text-align: left;
    font: normal normal medium 16px/30px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1; 
    margin: 0;
}

#p3{
    width: 370px;
    height: 23px;
    text-align: left;
    font: normal normal normal 16px/30px Poppins;
    letter-spacing: 0px;
    color: #636F88;
    opacity: 1;
    margin: 0;
}

#item-2{
    display: inline-block;
    margin-left: 40px;
}

#cuisines{
    text-align: left;
    font: normal normal normal 16px/30px Poppins;
    letter-spacing: 0px;
    color: #636F88;
    opacity: 1;
}

#cost{
    text-align: left;
    font: normal normal normal 16px/30px Poppins;
    letter-spacing: 0px;
    color: #636F88;
    opacity: 1;
}

#costdiv{
    display: inline-block;
    width: 140px;
    float:left;
}

#bakery{
    text-align: left;
    font: normal normal normal 16px/30px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}
#rs{
    text-align: left;
    font: normal normal normal 16px/30px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}

#keyblock{
    display: inline-block;
    width: 330px;
    height: 36px;
    margin-left: 232px;
    margin-top: 4px;
}

.keys{
    width: 36px;
    height: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #8C96AB;
    border-radius: 7px;
    opacity: 0.4;
}