

.card{
    padding: 14px;
    height: 180px;
    width: 980px;
    border: 1ps solid lightcyan;
    margin: 12px auto;
}

img{
    height: 80%;
    width: 130px;
}

a{
    text-decoration: none;
    color: darkgreen;
}